# Episode Files
/episodes
*.mov
*.mp4

# Source Image Files
*.psd
hi_res

# GoDaddy / Webhost stuff
.htaccess
.ftpquota
/cgi-bin

# PHP Error Log (Mostly lariat_forwarder errors)
error_log

# Video Database
video.xml
*.xml

# Internal Directories
/booked*
/cguide
/pdf
/protected
/templates
/tutorials
/test
/cchsroomreservations
/segments

# OS specific files
.DS_Store
Thumbs.db
