textarea{
-webkit-appearance: none;
border-radius: 0;
}
button {
  padding: 0.5em;
	font-size: 13px;
  border:0;
  background-color: darkgrey;
  -webkit-appearance: none;
  border-radius: 0;
}
.adminbar{
  display: grid;
  height:auto;
  width: 100%;
  background-color: white;
  grid-template:  "left center  right"
                  "aux  aux     aux";
}
.adminbar p{color: black}
